[defaults]
inventory          = infra/inventory/hosts.yml
roles_path         = infra/roles
collections_path   = ~/.ansible/collections
retry_files_enabled = false
stdout_callback    = ansible.builtin.default
result_format      = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining         = true
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s
